@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
}

main {
    display: grid;
    grid-template-columns: 1fr 6fr 4fr;
    grid-template-rows: .5fr 3fr 3fr 3fr;
    height: 100vh;
    width: 100vw;
    padding: 20px;
    column-gap: 20px;
    row-gap: 10px;
}

.light {
    background-color: #b5c7e0;
    color: #FFFFFF;
}

.light-grid {
    background-color: #a7b9d9;
}

/* Grid Setup Start */

.grid-container {
    border-radius: 15px;
}

#side-nav{
    grid-column: 1 / 2;
    grid-row: 1 / 5;
}

#search-div {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}

#toggle-div {
    grid-column: 3 / 4;
    grid-row: 1 / 2;
}

#current-weather-div {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    padding: 15px 30px 15px 30px;
    background-color: transparent;
}

#current-hourly-forcast-div {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
    padding: 15px 30px 15px 30px;
    overflow: hidden;
}

#current-weather-conditions-div {
    grid-column: 2 / 3;
    grid-row: 4 / 5;
    padding: 15px 30px 15px 30px;
}

#current-seven-forecast-div {
    grid-column: 3 / 4;
    grid-row: 2 / 5;
    padding: 30px;
}

/* Grid Setup End */
/* Side Nav Start */



/* Side Nav End */
/* Search Form Start */

#search-form {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

#search-bar {
    flex: 90%;
    border: none;
    padding: 15px;
    border-radius: 15px 0px 0px 15px;
}

input[type=text] {
    background-color: transparent;
    color: #FFFFFF;
    font-size: 16px;
}

::placeholder {
    color: #FFFFFF;
}

#search-btn {
    flex: 10%;
    border: none;
    border-radius: 0pc 15px 15px 0px;
    background-color: #a7b9d9;
    fill: #FFFFFF;
    cursor: pointer;
}

#search-btn svg {
    height: 45px;
    width: 45px;
    padding: 5px;
}

/* Search Form End */
/* Temp Toggle Start */



/* Temp Toggle End*/
/* Current Weather Start */

#current-weather-items {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
    width: 100%;
}

#current-weather-left {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

#current-weather-header h1 {
    font-size: 34px;
}

#current-weather-header p {
    opacity: .8;
}

#current-weather-temp h1 {
    font-size: 58px;
}

#current-weather-right {
    padding: 5px 15px;
}

#current-weather-icon {
    height: 176px;
    width: 176px;
}

/* Current Weather End */
/* Today's Forecast Start */

#hourly-forecast-items {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

#hourly-forecast-slider-div {
    height: 100%;
    width: 100%;
    overflow-x: auto;
}

#hourly-forecast-header {
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 5px;
    opacity: .8;
}

#slider-container {
    display: flex;
    flex-direction: row;
    padding: 10px 5px;
    width: max-content;
    overscroll-behavior-inline: contain;
}

.hourly-weather {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    padding-right: 35px;
    padding-left: 35px;
}

.hourly-weather:not(:last-child) {
    border-right: 1px solid rgba(255, 255, 255, 0.4);

}

#hourly-time {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 16px;
    opacity: .8;
    width: 100%;
}

#hourly-icon {
    height: 64px;
    width: 64px;
}

/* Today's Forecast End */
/* Weather Conditions Start */

#current-weather-condition-items {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

#weather-condition-header {
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 5px;
    opacity: .8;
}

#weather-condition-bottom {
    flex: 1;
    display: flex;
    flex-direction: row;
}

#weather-condition-left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50%;
}

#weather-condition-right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50%;
}

.weather-condition {
    display: flex;
    flex-direction: column;
}

.weather-condition-name {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.weather-condition-name p {
    font-size: 18px;
    opacity: .8;
}

.weather-condition-icon {
    height: 32px;
    width: 32px;
    fill: #FFFFFF;
    opacity: .8;
    margin-right: 5px;
}

.weather-condition-status h1 {
    font-size: 28px;
    padding-left: 40px;
}

/* Weather Conditions End */
/* 7 Day Forecast Start */



/* 7 Day Forecast End */