@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
}

main {
    display: grid;
    grid-template-columns: 1fr 6fr 4fr;
    grid-template-rows: .5fr 3fr 3fr 3fr;
    height: 100vh;
    width: 100vw;
    padding: 20px;
    column-gap: 20px;
    row-gap: 10px;
}

.light {
    background-color: #b5c7e0;
    color: #FFFFFF;
}

.light-grid {
    background-color: #a7b9d9;
}

/* Grid Setup Start */

.grid-container {
    border-radius: 15px;
}

#side-nav{
    grid-column: 1 / 2;
    grid-row: 1 / 5;
}

#search-div {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}

#toggle-div {
    grid-column: 3 / 4;
    grid-row: 1 / 2;
}

#current-weather-div {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    padding: 15px 30px;
}

#current-hourly-forcast-div {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
}

#current-weather-conditions-div {
    grid-column: 2 / 3;
    grid-row: 4 / 5;
}

#current-seven-forecast-div {
    grid-column: 3 / 4;
    grid-row: 2 / 5;
}

/* Grid Setup End */
/* Side Nav Start */

/* Side Nav End */
/* Search Form Start */

#search-form {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

#search-bar {
    flex: 90%;
    border: none;
    padding: 15px;
    border-radius: 15px 0px 0px 15px;
}

input[type=text] {
    background-color: transparent;
    color: #FFFFFF;
    font-size: 16px;
}

::placeholder {
    color: #FFFFFF;
}

#search-btn {
    flex: 10%;
    border: none;
    border-radius: 0pc 15px 15px 0px;
    background-color: #a7b9d9;
    fill: #FFFFFF;
    cursor: pointer;
}

#search-btn svg {
    height: 45px;
    width: 45px;
    padding: 5px;
}




/* Search Form End */
/* Current Weather Start */

